.flex-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:200px;
    background:#ddd;
    }
    
    .item{
    background:blue;
    color:white;
    padding:20px;
    }