<!DOCTYPE html>
<html>
<head>
<title>Magazine Layout</title>

<link rel="stylesheet" href="../styles/float.css">
<link rel="stylesheet" href="../styles/base.css">

<style>

.container{
width:90%;
margin:auto;
}

.article{
float:left;
width:30%;
margin:1%;
background:#eee;
padding:15px;
}

.clear{
clear:both;
}

</style>

</head>

<body>

<h1>Magazine Float Layout</h1>

<div class="container">

<div class="article">
<h3>Article 1</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="article">
<h3>Article 2</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="article">
<h3>Article 3</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<div class="clear"></div>

</div>

</body>
</html>